# Default
_gitignored/*
 
# office lock files
.~lock*

# KiCad # Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*#auto_saved_files#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
pcb/*.xml
pcb/*.csv

# FreeCAD backup files
*.FCBak
*.FCStd*
!*.FCStd

# PlatformIO
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# VSCode
*.code-workspace
.vscode/

# Markdown notes that are usually linked here
Notebook.md
